@page "/create"

<h1 class="display-3 my-4">
    <span style="color: green;">Green</span>
    <span style="color: gold;">Algo</span>
</h1>


<div>
    <EditForm Model="@Model" class="d-flex flex-column align-items-center">
        <InputTextArea @bind-Value="Model.Text" class="col-12 col-md-8"/>
        <button class="btn disabled" title="Algorithm creation is not supported yet">Submit</button>
    </EditForm>
</div>